<h4>Datos Sospechosos</h4>
<div class="row">
    <div class="field">
        <label> Dni *</label>
        <input class="input" name="dni_sospechhoso" id="dni_sospechhoso" type="text" placeholder="Ej: 12345678" />
    </div>

    <div class="field">
        <label>Nombres *</label>
        <input class="input" name="sospechoso_nombres" id="sospechoso_descripcion" type="text" />
    </div>
</div>
<div class="row">
    <div class="field">
        <label> Apellido Paterno *</label>
        <input class="input" name="sopechoso_ape_paterno" id="sopechoso_ape_paterno" type="text" />
    </div>
    
    <div class="field">
        <label>Apellido Materno *</label>
        <input class="input" name="sopechoso_ape_materno" id="sospechoso_descripcion" type="text" />
    </div>
</div>
<div class="row">
    <div class="field">
        <label>Rol Sospechoso *</label>
        <input class="input" name="rol_sospechoso" id="rol_sospechoso" type="text" placeholder="Ej: Complice" />
    </div>
</div>

<div class="field">
    <label>Obverbaciones *</label>
    <input class="input" name="observaciones" id="observaciones" type="text" placeholder="Ej: Alto, cabello castaño, tatuaje en el brazo derecho" />
</div>

<button type="button" class="btn btn-secondary" id="agregar-sospechoso-btn">Agregar Sospechoso</button>
<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Rol Sospechoso</th>
            <th>Observaciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="sospechosos-table-body">
        <!-- Filas de sospechosos se agregarán aquí dinámicamente -->
    </tbody>
</table>

</div>
<div class="section" >
<h4>Bines Robados</h4>

<div class="row">
    <div class="field">
        <label>Categoria Aproximado *</label>
        <select name="categoria-bien" id="categoria_bien">
            {% for categoria in categorias_bienes %} 
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label>Bien hurtado *</label>
        <input class="input" name="valor_bien" id="valor_bien" type="number" placeholder="Ej: 1500" />
    </div>
</div>
<div class="row">
    <div class="field">
        <label>Descripción del Bien *</label>
        <input class="input" name="descripcion_bien" id="descripcion_bien" type="text" placeholder="Ej: Teléfono móvil, cartera, laptop" />
    </div>
    <div class="field">
        <label>Valor Aproximado *</label>
        <input class="input" name="valor_bien" id="valor_bien" type="number" placeholder="Ej: 1500" />
    </div>
</div>
<button type="button" class="btn btn-secondary" id="agregar-bien-btn">Agregar Bien</button>
<table>
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Valor Aproximado</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bienes-table-body">
        <!-- Filas de bienes robados se agregarán aquí dinámicamente -->
    </tbody>
</table>

</div>