{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formato_formulario.css') }}">
{% endblock %}

{% block content %}
<section>
  <div class="card">
    <div class="form-title"><h3 class="is-size-3">Áreas</h3></div>

    <form id="form-area">
      <div class="section">
        <h4>Datos del Área</h4>

        <div class="field">
          <label>ID</label>
          <input id="input-id_area" class="input" type="text" name="id_area" readonly>
        </div>

        <div class="field">
          <label>Nombre *</label>
          <input required id="input-nombre" class="input" type="text" name="nombre" placeholder="Ej: Recursos Humanos">
        </div>

        <div class="field">
          <label>Descripción</label>
          <input id="input-descripcion" class="input" type="text" name="descripcion" placeholder="Ej: Área encargada de la gestión del personal">
        </div>

        <div id="mensaje" class="notification is-hidden"></div>
      </div>

      <div style="margin-top:10px; display:flex; gap:12px;">
        <button type="button" class="button is-secondary" id="btnNuevo">Nuevo</button>
        <button type="button" class="button is-primary" id="btnAgregar">Agregar</button>
        <button type="button" class="button is-success" id="btnEditar">Editar</button>
      </div>
    </form>
  </div>

  <br>

  <div class="card">
    <div class="column">
      <form id="form-buscar" class="field has-addons mt-4">
        <div class="control">
          <input class="input" type="text" name="b_nombre" placeholder="Buscar por nombre">
        </div>
        <div class="control">
          <button type="button" class="button is-link" id="btnBuscar">Buscar</button>
        </div>
      </form>

      <table class="table is-striped is-hoverable mt-4" id="tabla-areas">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% for area in areas %}
          <tr class="clickable-row" data-id="{{ area.id_area }}">
            <td>{{ area.id_area }}</td>
            <td>{{ area.nombre }}</td>
            <td>{{ area.descripcion }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/area.js') }}"></script>
  <script src="{{ url_for('static', filename='js/query_row.js') }}"></script>
{% endblock %}
