{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formato_formulario.css') }}">
{% endblock %}

{% block content %}
<section>
  <div class="card">
    <div class="form-title"><h3 class="is-size-3">Áreas</h3></div>

    <form action="{{ url_for('guardar_area') }}" method="post">

      <div class="section">
          <h4>Datos del Área</h4>

      <div class="field">
        <label>ID</label>
        <input required id="input-id_area" class="input" type="text" name="id_area" readonly>
      </div>

      <div class="field">
        <label>Nombre</label>
        <input required id="input-nombre" class="input" type="text" name="nombre" placeholder="Ej: Recursos Humanos">
      </div>

      <div class="field">
        <label>Descripción</label>
        <input id="input-descripcion" class="input" type="text" name="descripcion" placeholder="Ej: Área encargada de la gestión del personal">
      </div>
      </div>

      <div style="margin-top:10px; display:flex; gap:12px;">
          <button type="submit" class="button is-success">Nuevo</button>
          <a href="{{ url_for('formulario_agregar_area') }}" class="button is-primary">Agregar</a>
          <a href="{{ url_for('area') }}" class="button is-primary">Editar</a>
      </div>
    </form>
  </div>

  <br>

  <div class="card">
    <div class="column">
      <form action="{{ url_for('buscar_area') }}" method="GET" class="field has-addons mt-4">
        <div class="control">
          <input class="input" type="text" name="nombre" placeholder="Buscar por nombre" value="{{ request.args.get('nombre', '') }}">
        </div>
        <div class="control">
          <button class="button is-link" type="submit">Buscar</button>
        </div>
      </form>

      <!-- TABLA -->
      <table class="table is-striped is-hoverable mt-4">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for area in areas %}
          <tr class="clickable-row" data-id="{{ area.id_area }}">
            <td>{{ area.id_area }}</td>
            <td>{{ area.nombre }}</td>
            <td>{{ area.descripcion }}</td>
            <td>
              <a href="{{ url_for('formulario_editar_area', id_area=area.id_area) }}" class="button is-info">Editar</a>
            </td>
            <td>
              <form action="{{ url_for('eliminar_area') }}" method="POST">
                <input type="hidden" name="id_area" value="{{ area.id_area }}">
                <button class="button is-danger" type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</section>
{% endblock %}
