{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Editar persona</h3>
            <form action="{{ url_for('actualizar_persona') }}" method="post">
                <!-- Enviar el id en un campo oculto -->
                <input type="hidden" name="id_persona" value="{{ persona[0] }}">

                <label for="dni">DNI:</label>
                <input value="{{ persona[1] }}" required type="text" class="input" placeholder="DNI" name="dni" id="dni">

                <label for="nombres">Nombres:</label>
                <input value="{{ persona[2] }}" required type="text" class="input" placeholder="Nombres" name="nombres" id="nombres">

                <label for="apellidos">Apellidos:</label>
                <input value="{{ persona[3] }}" required type="text" class="input" placeholder="Apellidos" name="apellidos" id="apellidos">

                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                <input value="{{ persona[4] }}" type="date" class="input" name="fecha_nacimiento" id="fecha_nacimiento">

                <label for="telefono">Teléfono:</label>
                <input value="{{ persona[5] }}" type="text" class="input" placeholder="Teléfono" name="telefono" id="telefono">

                <label for="direccion">Dirección:</label>
                <input value="{{ persona[6] }}" type="text" class="input" placeholder="Dirección" name="direccion" id="direccion">

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{ url_for('persona') }}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
